body {
    background-color: rgba(35, 45, 57, 0.8);
}

video {
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
}

.content {
    position: absolute;
    background-color: rgba(35, 45, 57, 0.8);
    top: 0;
    left: 0;
    bottom: 0px;
    width: 100%;
}

#menu {
    align-items: flex-start;
    justify-content: flex-end;
    /* align menu items to the bottom of the container */
    display: flex;
    height: calc(100vh - 4em);
    width: calc(100vw - 2em); 
    color: white;
    flex-direction: column;
    margin-left: 2em;
    margin-bottom: 4em;
    /* stack menu items vertically */
}

#menu>h1 {
    background: inherit;
    font-size: 4em;
    color: lightgray;
}

#menu>hr {
    width: 400px;
    border-top: 1px solid lightgray;
}

#menu>ul {
    margin-bottom: 1em;
    overflow: hidden;
}

#menu>ul>li {
    transition: all 0.6s ease-in-out;
    transform: translateY(250%);
}

#menu>ul.pop>li {
   transform: translateY(0);
}

#menu>ul a {
    color: white;
    font-size: 3em;
}

#menu>ul a:hover {
    color: lightgray;
}

#menu>ul>li {
    color: white;
}

@media (max-width: 800px) {
    #menu>h1 {
        font-size: 2em;
    }
    #menu>ul a {
        font-size: 1.5em;
    }
    #menu>hr {
        width: 200px;
    }
}