.logbookTable {
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  max-height: calc(100% - 2em);
  position: relative;
  overflow-y: hidden;
}

.logbookTable thead {
  background-color: var(--secondary);
}

.logbookTable th {
  background: #ddd;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.logbookTable th div {
  white-space: nowrap;
}

.logbookTable th {
  border: 1px solid var(--secondary);
  padding: 0;
}

.logbookTable th > * {
  padding: 0.2em;
}

.logbookTable th > *:nth-child(2) {
  border-top: 1px solid var(--secondary);
}

.logbookTable td {
  border: 1px solid var(--secondary);
  padding: 0;
}

.logbookTable td > * {
  padding: 0.1em;
}

.logbookTable td > *:nth-child(2) {
  border-top: 1px solid var(--secondary);
}

.logbookTable td[align="center"] > * {
  text-align: center;
}