.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1em;
  max-width: 720px;
}

.main h1 {
  margin-bottom: 1em;
}

.backgroundImage {
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.backgroundImage img {
  width: 600px;
  max-width: 600px;
  height: auto;
  -webkit-mask: linear-gradient(to right, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0))
    top right / cover;
  mask: linear-gradient(to right, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)) top
    right / cover;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: ro;
  padding: 0.25rem 0.25rem;
  height: 2.5rem;
  margin-bottom: var(--typography-spacing-vertical);
}

.footer a {
  color: white;
  font-size: 2em;
  margin: 0 0.25em;
  display: flex;
}
